body{
    font-family: Arial;
    background: #f4f4f4;
    padding: 20px;
}

.card{
    width: 300px;
    background: white;
    padding: 20px;
    margin: auto;
    border-radius: 8px;
    box-shadow: inset 0 0 10px #ccc;
}

input{
    width:100%;
    padding: 3px;
    margin: 7px 0;
}

button{
    width:100%;
    padding: 10px;
    background: #0d3b6c;
    color:#f4f4f4;
    border: none;
}

button:hover{
    background: #17497e;
}

.error{
    color: red;
}

.sucess{
    color:green;
}

.job{
    background: white;
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: inset 0 0 10px #ccc;
}
